body{
  background-color: aquamarine;
}

.container{
  display: flex;
  justify-content: space-around;
}

.logo{
  width: 200px;
}

.menu ul{
  display: flex;
}

.menu li{
  list-style: none;
  margin-left: 10px;
  margin-right: 10px;
}

.menu li a{
  text-decoration: none;
}